.footer {
	background: #190029;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	color: white;
	text-transform: uppercase;
}

.title {
	display: flex;
	justify-content: center;
}

.social img {
	height: 50px;
}
.social img:hover {
	transform: scale(1.3);
	filter: grayscale(100%);
}
